.form-control::-webkit-input-placeholder,
.form-control::placeholder {
	color: rgba(108, 117, 125, 0.43) !important;
}

.ft-15 {
	font-size: 15px !important;
}

.my-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}
