body {
	font-family: 'Source Sans Pro', sans-serif;
}

.form-control::-webkit-input-placeholder,
.form-control::placeholder {
	color: rgba(108, 117, 125, 0.43) !important;
}

.ft-14 {
	font-size: 14px !important;
}

.ft-15 {
	font-size: 15px !important;
}

.ft-16 {
	font-size: 16px !important;
}

.ft-18 {
	font-size: 18px !important;
}

.ft-22 {
	font-size: 22px !important;
}

.ft-24 {
	font-size: 24px !important;
}

.ft-bold {
	font-weight: bold;
}

.uppercase {
	text-transform: uppercase;
}

.my-0 {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.my-10 {
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.mt-4px {
	 margin-top: 4px !important;
}

.mt-10 {
	margin-top: 10px !important;
}

.mt-20 {
	margin-top: 20px !important;
}

.mt-40 {
	margin-top: 40px !important;
}

.mb-10 {
	margin-bottom: 10px !important;
}

.mb-20 {
	margin-bottom: 20px !important;
}

.mb-25 {
	margin-bottom: 25px !important;
}

.my-20 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.mb-30 {
	margin-bottom: 30px !important;
}

.mr-15 {
	margin-right: 15px !important;
}

.px-5 {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.card-small {
	padding: .75rem .75rem .25rem .75rem !important;
	overflow: hidden;
	height: 140px;
	max-height: 140px;
	transition: max-height 1s ease-out;

	&.open {
		height: auto;
		max-height: 1000px;
	}
}

.ft-lg {
	font-size: 18px;
}

.ft-md {
	font-size: 14px;
}

.ft-sm {
	font-size: 10px;
}

.card-small {
	img {
		height: 20px;
	}

	.card-details {
		margin-top: 13px;
	}
}

.card-container {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 5px;
    padding-left: 5px;
}

@media (min-width: 576px) {
	.ft-lg {
		font-size: 18px;
	}
	.ft-md {
		font-size: 14px;
	}
	.ft-sm {
		font-size: 12px;
	}

	.card-small {
		img {
			height: 25px;
		}

		.card-details {
			margin-top: 10px;
		}
	}
}

@media (min-width: 768px) {
	.ft-lg {
		font-size: 20px;
	}
	.ft-md {
		font-size: 14px;
	}
	.ft-sm {
		font-size: 12px;
	}

	.card-small {
		.card-details {
			margin-top: 0px;
		}
	}

	.card-container {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	    padding-right: 5px;
	    padding-left: 5px;
	}
}

@media (min-width: 992px) {
	.ft-lg {
		font-size: 20px;
	}
	.ft-md {
		font-size: 16px;
	}
	.ft-sm {
		font-size: 11px;
	}

	.card-small {
		.card-details {
			margin-top: 5px;
		}
	}
}

@media (min-width: 1200px) {
	.ft-lg {
		font-size: 22px;
	}
	.ft-md {
		font-size: 16px;
	}
	.ft-sm {
		font-size: 14px;
	}
	.card-small {
		.card-details {
			margin-top: 0px;
		}
	}
}
